<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->
    <!-- <title>impresiones digitales - f d colavecchia</title> -->
    <link rel="icon" type="image/png" href="/images/flaicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/style.css" rel="stylesheet">
    <!-- Cards style -->
    <!-- <link href="../style.css" rel="stylesheet"> -->
    <!-- <link href="/css/stylish-portfolio.css" rel="stylesheet"> -->
    <!-- <link href="/custom/css/fla.css" rel="stylesheet"> -->
    <!-- <link href="/custom/css/default-highlight.css" rel="stylesheet"> -->
    <!-- Custom Fonts -->
    <link href="/line-awesome/css/line-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Custom for latex compatibility-->
    <script type="text/javascript">
        window.MathJax = {
           tex: {
             inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
       };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-chtml-full.js"
    integrity="sha512-H1celT3zndvCGQ6MQhHhhbHobnAcJIr0F/hWbLQHOPJNb5psixpjP3KFLfL5MUCGjReje/+DFo+ByaB9OtxmdQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% seo %}
    {% include analytics.html %}
</head>