---
layout: default
---
 <!-- <link href="{{site.baseurl}}/custom/css/fla.css" rel="stylesheet"> -->
 <!-- About -->
    <section id="about" class="about hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>leer</h2>
                    <!--
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                    -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>leer</h1>
        </div>
    </aside>


    <section id="posts" class="">
        
        <div class="container ">
            
            {% for post in site.fsharp %}
            <div class="card">
                <h3 class="card-header"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <div class="card-body">
                  <h5 class="card-title text-muted">{% for cat in post.categories %}
                    {{cat}}
                    {% endfor %}</h5>
                  <p>{{ post.tagline}}</p>  
                  <p class="card-text"> 
                    {{ post.content | truncatewords:30}}</p>
                  <br>
                   <a href="{{ site.baseurl }}{{ post.url }}" class="read-more btn btn-outline ">lee más</a>
                </div>
              </div>
              {% endfor %}            
            {% for post in site.posts %}
            <div class="card">
                <h3 class="card-header"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <div class="card-body">
                  <h5 class="card-title text-muted">{% for cat in post.categories %}
                    {{cat}}
                    {% endfor %}</h5>
                  <p>{{ post.tagline}}</p>  
                  <p class="card-text"> 
                    {{ post.content | truncatewords:30}}</p>
                  <br>
                   <a href="{{ site.baseurl }}{{ post.url }}" class="read-more btn btn-outline ">lee más</a>
                </div>
              </div>
            {% endfor %}            
        </div>
    </section>

