 h1, h2 {
    font-family: 'Cormorant Garamond', serif;
}
.display-1, .dissplay-2{
    font-family: 'Cormorant Garamond', serif;
} 

.header h2{
    color: $lightGray;
    font-weight: 300;

}

.btn-group{
margin: 2em 0;
}

.btn-link {                          
    font-family: $helvetica;                                           
    color: $lightGray;
    border: 2px solid $lightGray;
}
.btn-link:hover{
    opacity: 0.8;
    font-family: $helvetica; 
    background-color: $white;
    color: $darkerGray;
    border: 1px solid $white;
}

// Added by Fla
a:link {
    color:brown;
}



.about{
    background-color: $blue;
    // text-align: start;
}

#footer {
    h2{
        font-size: 48px;
        margin-top: 0;
    }
}