
//
// VARIABLES
//

// Colors
$blue: #27456f; 
$lightBlue:#8D99C4;

// Grays
$black: #0A1C35;
$darkerGray: #122A4E;
$darkGray: #545A61;
$gray: #82858C;
$lightGray: #EDE5E2;
$white: rgb(241, 244, 246);

// Font stacks
$helvetica: Nunito Sans, Helvetica, Arial, sans-serif;
$helveticaNeue: Nunito Sans, Helvetica, Arial, sans-serif;
$georgia: Cormorant Garamond, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}


