---
layout: default
---




<div class="container m-5 ">
    <div class="row justify-content-between">
        <div class="col-12 col-sm-12 col-md-12  col-lg-6 contact-img-container">
            <aside class="contact-img ">
                <div class="text-vertical-center">

                </div>
            </aside>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 contact-info">
            <!-- <h1 class="text-lowercase">{{ page.title }}</h1> -->
            <div class="text-start">
                {{ content }}
            </div>
            <div class="  row">
                <h4 class="text-lowercase "> Contacto:
                </h4>
                <div class="col-lg-6 text-start">
                   
                    <div class="btn-group mt-2 " role="group" aria-label="Basic outlined example">
                        <a href="mailto:fcolavecchia@gmail.com" class="btn  btn-lg btn-outline-primary p0">mail</a>
                        <a href="/img/CV-fdColavecchia.pdf" class="btn btn-lg btn-outlined">curriculum vitae</a>
                       
                        <!-- <a href="#" class="btn btn-lg btn-link">read</a> -->
                      </div>
                   
                </div>
               <div class="col-lg-6">
                <div class="btn-group mt-2" role="group" aria-label="Basic outlined example">
                    <a href="/blog" class="btn btn-lg btn-outline-primary">leer</a>
                    <a href="/photography" class="btn  btn-lg btn-outline-primary">mirar</a>
                    <!-- <a href="#" class="btn btn-lg btn-link">read</a> -->
                  </div>
               </div>
               
               
            </div>
        </div>
        
        




    </div>
</div>